@import url(normalize.css);
@import url(header.css);

:root {
    --base-white: #fff;
}

.body-wrapper {
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: 744px) {
    .body-wrapper {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1400px) {
    .body-wrapper {
        margin: 0 99px;
    }
}