@import url(normalize.css);
@import url(header.css);
@import url(intro.css);

:root {
    --base-white: #fff;
    --base-black: #000;
    --text-body: #414840;
    --primary: #475F45;
    --header: #343D33;
}

.body-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
.body-wrapper .main {
    margin: 0 16px;
}

@media screen and (min-width: 992px) {
    .body-wrapper .main {
        margin: 0 50px;
    }
}

@media screen and (min-width: 1140px) {
    .body-wrapper .main {
        margin: 0 100px;
    }
}