@media screen and (min-width: 375px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: center;
    .info-wrap {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      .intro__h1 {
        font-size: 34px;
        line-height: 37px;
        font-weight: 400;
        color: var(--header);
        text-align: center;
        margin: 26px 0 16px;
      }
      .intro__span {
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        color: var(--text-body);
        text-align: center;
        margin-bottom: 24px;
      }
      .intro__btn-wrap {
        width: 100%;
        margin-bottom: 56px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 8px;
        button {
          max-width: 188px;
          width: 100%;
          height: 46px;
          font-size: 14px;
          line-height: 16px;
          font-weight: 700;
          border: none;
        }
        .intro__buy-btn {
          grid-column: 1/2;
          grid-row: 1/2;
          justify-self: end;
          background-color: var(--primary);
          color: var(--base-white);
        }
        .intro__info-btn {
          grid-column: 2/3;
          grid-row: 1/2;
          justify-self: start;
          border: 2px solid var(--primary);
          color: var(--primary);
        }
      }
    }
    .image-wrap {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 55px;
        .intro__image {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }
  }
}

@media screen and (min-width: 744px) {
  .intro {
    margin: 0 175px;
    .info-wrap {
      .intro__h1 {
        font-size: 45px;
        line-height: 49px;
        font-weight: 400;
      }
      .intro__span {
        font-size: 22px;
        line-height: 33px;
        font-weight: 300;
      }
    }
    .image-wrap {
      padding: 0;
    } 
  }
}

@media screen and (min-width: 992px) {
  .intro {
    margin: 56px 0 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    .info-wrap {
      grid-column: 1/2;
      grid-row: 1/2;
      align-items: flex-start;
      .intro__h1 {
        text-align: start;
      }
      .intro__span {
        text-align: start;
      }
      .intro__btn-wrap {
        grid-template-columns: auto auto;
        justify-content: start;
      }
    }
    .image-wrap {
      grid-column: 2/3;
      grid-row: 1/2;
      .intro__image {
        max-width: 478px;
      }
    }
  }
}
